.vs/CubeGame/v15/.suo
.vs/CubeGame/v15/Server/sqlite3/db.lock
.vs/CubeGame/v15/Server/sqlite3/storage.ide
.vs/CubeGame/v15/Server/sqlite3/storage.ide-shm
.vs/CubeGame/v15/Server/sqlite3/storage.ide-wal
Temp/
